{{#each this}}
  <div class="daysOfTheWeek">
    <h1>{{Today}}</h1>
      <ul>
        <li>{{temp}}</li>
        <li>{{weather}}</li>
        <li>{{pressure}}</li>
        <li>{{speed}}</li>
      </ul>
  </div>
{{/each}}