{{#each this}}
  <div class="daysOfTheWeek panel">
    <h1>{{Today}}</h1>
      <ul>
        <li>Current Temperature: {{temp.day}}</li>
        {{#each weather}}
        <li> Current Conditions: {{main}}</li>
        {{/each}}
        <li>Air Pressure: {{pressure}}</li>
        <li>Wind Speed/Windchill: {{speed}}</li>
      </ul>
  </div>
{{/each}}